<table id="board">
    <tbody>
        <tr>
            <td id="redPlayerField" class="playerField" colspan="6" rowspan="6">
                <div class="playerInfoWrapper">
                    <div class="playerName"></div>
                    <table>
                        <tbody>
                            <tr>
                                <td id="red1"></td>
                                <td id="red2"></td>
                            </tr>
                            <tr>
                                <td id="red3"></td>
                                <td id="red4"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td id="1"></td>
            <td id="56"></td>
            <td id="55"></td>
            <td id="bluePlayerField" class="playerField" colspan="6" rowspan="6">
                <div class="playerInfoWrapper">
                    <div class="playerName"></div>
                    <table>
                        <tbody>
                            <tr>
                                <td id="blue1"></td>
                                <td id="blue2"></td>
                            </tr>
                            <tr>
                                <td id="blue3"></td>
                                <td id="blue4"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td id="2"></td>
            <td class="homeCell blue" id="b1"></td>
            <td id="54"></td>
        </tr>
        <tr>
            <td id="3"></td>
            <td class="homeCell blue" id="b2"></td>
            <td id="53"></td>
        </tr>
        <tr>
            <td id="4"></td>
            <td class="homeCell blue" id="b3"></td>
            <td id="52"></td>
        </tr>
        <tr>
            <td id="5"></td>
            <td class="homeCell blue" id="b4"></td>
            <td id="51"></td>
        </tr>
        <tr>
            <td id="6"></td>
            <td class="homeCell blue" id="b5"></td>
            <td id="50"></td>
        </tr>
        <tr>
            <td id="13"></td>
            <td id="12"></td>
            <td id="11"></td>
            <td id="10"></td>
            <td id="9"></td>
            <td id="8"></td>
            <td id="7"></td>
            <td id="b6"></td>
            <td id="49"></td>
            <td id="48"></td>
            <td id="47"></td>
            <td id="46"></td>
            <td id="45"></td>
            <td id="44"></td>
            <td id="43"></td>
        </tr>
        <tr>
            <td id="14"></td>
            <td class="homeCell red" id="r1"></td>
            <td class="homeCell red" id="r2"></td>
            <td class="homeCell red" id="r3"></td>
            <td class="homeCell red" id="r4"></td>
            <td class="homeCell red" id="r5"></td>
            <td id="r6"></td>
            <td></td>
            <td id="g6"></td>
            <td class="homeCell green" id="g5"></td>
            <td class="homeCell green" id="g4"></td>
            <td class="homeCell green" id="g3"></td>
            <td class="homeCell green" id="g2"></td>
            <td class="homeCell green" id="g1"></td>
            <td id="42"></td>
        </tr>
        <tr>
            <td id="15"></td>
            <td id="16"></td>
            <td id="17"></td>
            <td id="18"></td>
            <td id="19"></td>
            <td id="20"></td>
            <td id="21"></td>
            <td id="y6"></td>
            <td id="35"></td>
            <td id="36"></td>
            <td id="37"></td>
            <td id="38"></td>
            <td id="39"></td>
            <td id="40"></td>
            <td id="41"></td>
        </tr>
        <tr>
            <td id="yellowPlayerField" class="playerField" colspan="6" rowspan="6">
                <div class="playerInfoWrapper">
                    <div class="playerName"></div>
                    <table>
                        <tbody>
                            <tr>
                                <td id="yellow1"></td>
                                <td id="yellow2"></td>
                            </tr>
                            <tr>
                                <td id="yellow3"></td>
                                <td id="yellow4"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td id="22"></td>
            <td class="homeCell yellow" id="y5"></td>
            <td id="34"></td>
            <td id="greenPlayerField" class="playerField" colspan="6" rowspan="6">
                <div class="playerInfoWrapper">
                    <div class="playerName"></div>
                    <table>
                        <tbody>
                            <tr>
                                <td id="green1"></td>
                                <td id="green2"></td>
                            </tr>
                            <tr>
                                <td id="green3"></td>
                                <td id="green4"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td id="23"></td>
            <td class="homeCell yellow" id="y4"></td>
            <td id="33"></td>
        </tr>
        <tr>
            <td id="24"></td>
            <td class="homeCell yellow" id="y3"></td>
            <td id="32"></td>
        </tr>
        <tr>
            <td id="25"></td>
            <td class="homeCell yellow" id="y2"></td>
            <td id="31"></td>
        </tr>
        <tr>
            <td id="26"></td>
            <td class="homeCell yellow" id="y1"></td>
            <td id="30"></td>
        </tr>
        <tr>
            <td id="27"></td>
            <td id="28"></td>
            <td id="29"></td>
        </tr>
    </tbody>
</table>
