<h1 id="currentPlayer"></h1>
<h1 id="diceValue"></h1>
<h1>Chat: </h1>
<div id="messages"></div>
<div>
    <input type="text" id="message" placeholder="write message..." />
    <button id="send-message">Send</button>
</div>
