body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#board td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

#board .playerField {
    width: 240px;
    border: none;
}

#board .playerInfoWrapper {
    margin: auto;
}

#board td.homeCell {
    border-radius: 50%;
}

#board td.bluePawn {
    background-image: url("../Images/blue-pawn.png");
    background-size: 100% 100%;
}

#board td.redPawn {
    background-image: url("../Images/red-pawn.png");
    background-size: 100% 100%;
}

#board td.yellowPawn {
    background-image: url("../Images/yellow-pawn.png");
    background-size: 100% 100%;
}

#board td.greenPawn {
    background-image: url("../Images/green-pawn.png");
    background-size: 100% 100%;
}

#board .blue {
    background-color: blue;
}

#board .red {
    background-color: red;
}

#board .yellow {
    background-color: yellow;
}

#board .green {
    background-color: green;
}

/*#board td:after {
    position: absolute;
    content: attr(id);
}*/
